################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/PRN221_Project/FileContentIndex/0838cc58-7eee-432b-bf29-89437a6c4f0c.vsidx
/.vs/PRN221_Project/FileContentIndex/413da822-1963-4a73-bea2-ea87e993891b.vsidx
/.vs/PRN221_Project/FileContentIndex/a0b5293a-b4f9-41c3-9df2-019c7f2f500a.vsidx
/.vs/PRN221_Project/FileContentIndex/fa4306e1-1445-4b79-8def-f8fe5859064b.vsidx
/.vs/PRN221_Project/FileContentIndex/24c71ae9-f15d-42d1-b073-29621eac1cb1.vsidx
/.vs/PRN221_Project/FileContentIndex/24c71ae9-f15d-42d1-b073-29621eac1cb1.vsidx
/.vs/PRN221-Projects/v17/.wsuo
/.vs/PRN221-Projects/v17/DocumentLayout.json
/.vs/PRN221_Project/config/applicationhost.config
/.vs/PRN221_Project/DesignTimeBuild
/.vs/PRN221_Project/DesignTimeBuild/.dtbcache.v2
/.vs/PRN221_Project/FileContentIndex
/.vs/PRN221_Project/FileContentIndex/2001f011-f6f0-4358-a70e-8b60a34aec98.vsidx
/.vs/PRN221_Project/FileContentIndex/68c33497-e17f-42c3-9ba1-ba0ec125128e.vsidx
/.vs/PRN221_Project/FileContentIndex/6d0b0ba5-104d-42fb-b3a6-db27144af1e2.vsidx
/.vs/PRN221_Project/FileContentIndex/9862c312-9735-4453-ad89-35265d1688ad.vsidx
/.vs/PRN221_Project/FileContentIndex/ccf75a5c-c123-4852-97ff-ca63f26ee471.vsidx
/.vs/PRN221_Project/v17
/.vs/PRN221_Project/v17/.futdcache.v2
/.vs/PRN221_Project/v17/.suo
/.vs/PRN221_Project/v17/DocumentLayout.json
/.vs/ProjectEvaluation
/.vs/ProjectEvaluation/prn221_project.metadata.v7.bin
/.vs/ProjectEvaluation/prn221_project.projects.v7.bin
/.vs/VSWorkspaceState.json
/BabyStore/bin/Debug/net8.0/BabyStore.deps.json
/BabyStore/bin/Debug/net8.0/BabyStore.dll
/BabyStore/bin/Debug/net8.0/BabyStore.exe
/BabyStore/bin/Debug/net8.0/BabyStore.pdb
/BabyStore/bin/Debug/net8.0/BabyStore.staticwebassets.runtime.json
/BabyStore/bin/Debug/net8.0/BOs.dll
/BabyStore/bin/Debug/net8.0/BOs.pdb
/BabyStore/bin/Debug/net8.0/DAOs.dll
/BabyStore/bin/Debug/net8.0/DAOs.pdb
/BabyStore/bin/Debug/net8.0/Repos.dll
/BabyStore/bin/Debug/net8.0/Repos.pdb
/BabyStore/bin/Debug/net8.0/Services.dll
/BabyStore/bin/Debug/net8.0/Services.pdb
/BabyStore/obj/Debug/net8.0/ref/BabyStore.dll
/BabyStore/obj/Debug/net8.0/refint/BabyStore.dll
/BabyStore/obj/Debug/net8.0/apphost.exe
/BabyStore/obj/BabyStore.csproj.nuget.dgspec.json
/BabyStore/obj/BabyStore.csproj.nuget.g.props
/BabyStore/obj/Debug/net8.0/BabyStore.AssemblyInfoInputs.cache
/BabyStore/obj/Debug/net8.0/BabyStore.assets.cache
/BabyStore/obj/Debug/net8.0/BabyStore.csproj.AssemblyReference.cache
/BabyStore/obj/Debug/net8.0/BabyStore.csproj.CoreCompileInputs.cache
/BabyStore/obj/Debug/net8.0/BabyStore.csproj.FileListAbsolute.txt
/BabyStore/obj/Debug/net8.0/BabyStore.dll
/BabyStore/obj/Debug/net8.0/BabyStore.GeneratedMSBuildEditorConfig.editorconfig
/BabyStore/obj/Debug/net8.0/BabyStore.genruntimeconfig.cache
/BabyStore/obj/Debug/net8.0/BabyStore.pdb
/BabyStore/obj/Debug/net8.0/BabyStore.sourcelink.json
/BabyStore/obj/Debug/net8.0/project.razor.vs.bin
/BabyStore/obj/Debug/net8.0/staticwebassets.build.json
/BabyStore/obj/Debug/net8.0/staticwebassets.development.json
/BabyStore/obj/Debug/net8.0/staticwebassets.pack.json
/BabyStore/obj/project.assets.json
/BabyStore/obj/project.nuget.cache
/BOs/bin/Debug/net8.0/BOs.deps.json
/BOs/bin/Debug/net8.0/BOs.dll
/BOs/bin/Debug/net8.0/BOs.pdb
/BOs/obj/Debug/net8.0/ref/BOs.dll
/BOs/obj/Debug/net8.0/refint/BOs.dll
/BOs/obj/BOs.csproj.nuget.dgspec.json
/BOs/obj/BOs.csproj.nuget.g.props
/BOs/obj/Debug/net8.0/BOs.AssemblyInfoInputs.cache
/BOs/obj/Debug/net8.0/BOs.assets.cache
/BOs/obj/Debug/net8.0/BOs.csproj.AssemblyReference.cache
/BOs/obj/Debug/net8.0/BOs.csproj.CoreCompileInputs.cache
/BOs/obj/Debug/net8.0/BOs.csproj.FileListAbsolute.txt
/BOs/obj/Debug/net8.0/BOs.dll
/BOs/obj/Debug/net8.0/BOs.GeneratedMSBuildEditorConfig.editorconfig
/BOs/obj/Debug/net8.0/BOs.genruntimeconfig.cache
/BOs/obj/Debug/net8.0/BOs.pdb
/BOs/obj/Debug/net8.0/BOs.sourcelink.json
/BOs/obj/project.assets.json
/BOs/obj/project.nuget.cache
/DAOs/bin/Debug/net8.0/BOs.dll
/DAOs/bin/Debug/net8.0/BOs.pdb
/DAOs/bin/Debug/net8.0/DAOs.dll
/DAOs/bin/Debug/net8.0/DAOs.pdb
/DAOs/obj/Debug/net8.0/ref/DAOs.dll
/DAOs/obj/Debug/net8.0/refint/DAOs.dll
/DAOs/obj/DAOs.csproj.nuget.dgspec.json
/DAOs/obj/DAOs.csproj.nuget.g.props
/DAOs/obj/Debug/net8.0/DAOs.AssemblyInfoInputs.cache
/DAOs/obj/Debug/net8.0/DAOs.assets.cache
/DAOs/obj/Debug/net8.0/DAOs.csproj.AssemblyReference.cache
/DAOs/obj/Debug/net8.0/DAOs.csproj.CoreCompileInputs.cache
/DAOs/obj/Debug/net8.0/DAOs.csproj.FileListAbsolute.txt
/DAOs/obj/Debug/net8.0/DAOs.dll
/DAOs/obj/Debug/net8.0/DAOs.GeneratedMSBuildEditorConfig.editorconfig
/DAOs/obj/Debug/net8.0/DAOs.pdb
/DAOs/obj/Debug/net8.0/DAOs.sourcelink.json
/DAOs/obj/project.assets.json
/DAOs/obj/project.nuget.cache
/Repos/obj/Debug/net8.0/ref/Repos.dll
/Repos/obj/Debug/net8.0/refint/Repos.dll
/Repos/obj/Debug/net8.0/Repos.AssemblyInfoInputs.cache
/Repos/obj/Debug/net8.0/Repos.assets.cache
/Repos/obj/Debug/net8.0/Repos.csproj.AssemblyReference.cache
/Repos/obj/Debug/net8.0/Repos.csproj.CoreCompileInputs.cache
/Repos/obj/Debug/net8.0/Repos.csproj.FileListAbsolute.txt
/Repos/obj/Debug/net8.0/Repos.dll
/Repos/obj/Debug/net8.0/Repos.GeneratedMSBuildEditorConfig.editorconfig
/Repos/obj/Debug/net8.0/Repos.pdb
/Repos/obj/Debug/net8.0/Repos.sourcelink.json
/Repos/obj/project.assets.json
/Repos/obj/project.nuget.cache
/Repos/obj/Repos.csproj.nuget.dgspec.json
/Repos/obj/Repos.csproj.nuget.g.props
/Repos/bin/Debug/net8.0/BOs.dll
/Repos/bin/Debug/net8.0/BOs.pdb
/Repos/bin/Debug/net8.0/DAOs.dll
/Repos/bin/Debug/net8.0/DAOs.pdb
/Repos/bin/Debug/net8.0/Repos.deps.json
/Repos/bin/Debug/net8.0/Repos.dll
/Repos/bin/Debug/net8.0/Repos.pdb
/Services/bin/Debug/net8.0/BOs.dll
/Services/bin/Debug/net8.0/BOs.pdb
/Services/bin/Debug/net8.0/DAOs.dll
/Services/bin/Debug/net8.0/DAOs.pdb
/Services/bin/Debug/net8.0/Repos.dll
/Services/bin/Debug/net8.0/Repos.pdb
/Services/bin/Debug/net8.0/Services.deps.json
/Services/bin/Debug/net8.0/Services.dll
/Services/bin/Debug/net8.0/Services.pdb
/Services/obj/Debug/net8.0/ref/Services.dll
/Services/obj/Debug/net8.0/refint/Services.dll
/Services/obj/Debug/net8.0/Services.AssemblyInfoInputs.cache
/Services/obj/Debug/net8.0/Services.assets.cache
/Services/obj/Debug/net8.0/Services.csproj.AssemblyReference.cache
/Services/obj/Debug/net8.0/Services.csproj.CoreCompileInputs.cache
/Services/obj/Debug/net8.0/Services.csproj.FileListAbsolute.txt
/Services/obj/Debug/net8.0/Services.dll
/Services/obj/Debug/net8.0/Services.GeneratedMSBuildEditorConfig.editorconfig
/Services/obj/Debug/net8.0/Services.pdb
/Services/obj/Debug/net8.0/Services.sourcelink.json
/Services/obj/project.assets.json
/Services/obj/project.nuget.cache
/Services/obj/Services.csproj.nuget.dgspec.json
/Services/obj/Services.csproj.nuget.g.props
