################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/PRN221_Project/FileContentIndex/0838cc58-7eee-432b-bf29-89437a6c4f0c.vsidx
/.vs/PRN221_Project/FileContentIndex/413da822-1963-4a73-bea2-ea87e993891b.vsidx
/.vs/PRN221_Project/FileContentIndex/a0b5293a-b4f9-41c3-9df2-019c7f2f500a.vsidx
/.vs/PRN221_Project/FileContentIndex/fa4306e1-1445-4b79-8def-f8fe5859064b.vsidx
/.vs/PRN221_Project/FileContentIndex/24c71ae9-f15d-42d1-b073-29621eac1cb1.vsidx
/.vs/PRN221_Project/FileContentIndex/24c71ae9-f15d-42d1-b073-29621eac1cb1.vsidx