﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <!--     Fonts and icons     -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet" />
    <!-- Nucleo Icons -->
    <script src="https://kit.fontawesome.com/42d5adcbca.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="~/css/nucleo-icons.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/nucleo-svg.css" asp-append-version="true" />
    <!-- CSS Files -->
    <link href="~/css/argon-dashboard.css?v=2.0.4" rel="stylesheet" />
    @RenderSection("Styles", required: false)
    <style>
        .notification {
            position: fixed;
            top: 0;
            right: 0;
            transform: translateX(-50%);
            background-color: #28a745;
            color: white;
            padding: 10px 20px;
            border-radius: 5px;
            display: none;
            z-index: 1500; /* Ensure it's above other elements */
        }

            .notification.show {
                display: block;
                top: 0;
                right: 0;
            }
    </style>
</head>
<body class="g-sidenav-show bg-gray-100">

    @RenderBody()

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/popper.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/perfect-scrollbar.min.js"></script>
    <script src="~/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/smooth-scrollbar.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

    <div id="notification" class="notification"></div>

    @RenderSection("Scripts", required: false)
    <script>
        function showNotification(message) {
            const notification = document.getElementById('notification');
            notification.textContent = message;
            notification.classList.add('show');
            setTimeout(() => {
                notification.classList.remove('show');
            }, 3000);
        }
    </script>
</body>
</html>


