@page
@model BabyStore.Pages.Payment.FailureModel

@{
    ViewData["Title"] = "Payment Failure";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<div class="container mt-5">
    <h2>Thanh toán thất bại!</h2>
    <p>Rất tiếc, đã có lỗi xảy ra trong quá trình thanh toán. Vui lòng thử lại.</p>
</div>