@page
@model BabyStore.Pages.UserMenu.OrderDetailModel

@{
    ViewData["Title"] = "Order Details";
}

<style>
    body {
        padding: 2rem;
        font-family: sans-serif;
    }

    h1 {
        font-family: sans-serif;
    }

    #table-detail-container {
        max-width: 1200px; 
        margin-top: 200px; 
        padding: 20px; 
        border: 1px solid #dee2e6; 
        border-radius: 8px; 
        display: flex; 
        justify-content: center; 
        background: #f8f9fa; 
    }

    #table-detail {
        width: 100%; 
        border-collapse: collapse; 
    }

        #table-detail th,
        #table-detail td {
            border: 1px solid #dee2e6;
            padding: 12px; 
            text-align: left; 
            position: relative;
            background: white;
            border-radius: 8px; 
            overflow: hidden;
        }

        #table-detail thead {
            background-color: #f8f9fa; 
            border-bottom: 2px solid #dee2e6; 
        }

        #table-detail tbody tr {
            background: #ffffff; 
            margin-top: 1rem; 
            border-radius: 8px; 
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        }

            #table-detail tbody tr:nth-of-type(odd) {
                background: #f0f0f0; 
            }

        #table-detail tbody td {
            position: relative;
            padding: 16px;
        }

            #table-detail tbody td::before {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 4px;
                height: 100%;
            }

        #table-detail tbody tr:hover {
            background: #e9ecef; 
        }

        #table-detail tbody td:last-child {
            padding-right: 20px; 
        }
</style>

<div class="container" id="table-detail-container">
    <table id="table-detail">
        <thead>
            <tr>
                <th>Order Id</th>
                <th>Product Name</th>
                <th>Price</th>
                <th>Quantity</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var detail in Model.OrderDetails)
            {
                <tr>
                    <td>@detail.OrderId</td>
                    <td>@detail.Product.Name</td>
                    <td>@detail.Price.ToString("N0", System.Globalization.CultureInfo.GetCultureInfo("vi-VN"))</td>
                    <td>@detail.Quantity</td>
                </tr>
            }
        </tbody>
    </table>
</div>
