@page
@model BabyStore.Pages.SignUpModel

@{
    ViewData["Title"] = "SignUp";

}

<h1>SignUp</h1>

<h4>User</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div class="field-wrapper">
                <input type="text" asp-for="FullName" placeholder="Full Name">
                <label asp-for="FullName">Full Name</label>
            </div>
            <div class="field-wrapper">
                <input type="text" asp-for="Username" placeholder="Username">
                <label asp-for="Username">Username</label>
            </div>
            <div class="field-wrapper">
                <input type="email" asp-for="Email" placeholder="Email">
                <label asp-for="Email">Email</label>
            </div>
            <div class="field-wrapper">
                <input type="tel" asp-for="Phone" placeholder="Phone">
                <label asp-for="Phone">Phone</label>
            </div>
            <div class="field-wrapper">
                <input type="password" asp-for="Password" placeholder="Password" autocomplete="new-password">
                <label asp-for="Password">Password</label>
            </div>
            <div class="field-wrapper">
                <input type="password" asp-for="ConfirmPassword" placeholder="Confirm Password" autocomplete="new-password">
                <label asp-for="ConfirmPassword">Confirm Password</label>
            </div>
            <div class="field-wrapper">
                <textarea asp-for="Address" placeholder="Address"></textarea>
                <label asp-for="Address">Address</label>
            </div>
            <div class="field-wrapper">
                <input type="submit" value="Sign up">
            </div>
            <div>
                <a asp-page="Login">Already have an account? Log in</a>
            </div>

        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
